
.myPage {
  width: 100%;
  height: 100%;

  .infoTitle {
    padding: 15px 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid gray;
  }
  .infoBox {
    display: grid;
    width: 100%;
    height: 90%;
    .top {
      grid-column-start: span 2;
    }

    .infoContent {
        background-color: white;
        width: 100%;
        height: 480px;
        .infoUl {
          font-size: 0.8em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .infoLi {
            display: flex;
            align-items: center;
            border-bottom: 0.5px solid lightgray;
          }

          .infoLabel {
            font-weight: bold;
            display: flex;
            width: 35%;
            justify-content: flex-end;
            background-color: whitesmoke;
            padding: 0.8em;
            height: 100%;
          }
          li:nth-last-of-type(1){
            height:150px;
            align-items: flex-start;
          }

          .infoInput {
            display: flex;
            width: 65%;
            border-radius: 5px;
            justify-content: flex-start;
            align-items: center;
            padding: 0.8em;
          }
          }
          .button {
            font-size: 0.8em;
            display: flex;
            position: relative;
            bottom: -3%;
            justify-content: flex-end;
            margin-top: 1em;
            button {
              font-weight: bold;
              border: 1px lightgray solid;
              width: 80px;
              padding: 7px;
              margin-left: 15px;
              background-color: whitesmoke;
            }
          }
        }
    }
  }