.qr-modal {
  z-index: 1210;
  /* modal창 */
  .modalBody {
    position: absolute;
    width: 500px;
    height: 520px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  }
}