
.list-wrap {
  height: 100%;
  width: 100%;

  .state-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1em auto;

    button {
      font-size: 0.8em;
      font-weight: bold;
      border: 1px lightgray solid;
      width: 90px;
      margin-left: 1.5em;
      padding: 7px;
      background-color: whitesmoke;
    }
  }

  #paging {
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      //background-color: whitesmoke;
      //border: 1px lightgray solid;
      padding: 0.1em 0.8em;
      cursor: pointer;
      font-size: 1em;

    }

    span:hover {
      background-color: lightgray;
      font-weight: bold;
      transition: 0.2s;
    }
  }
}