.common-container{
  padding: 30px;
  .menu-title{
    margin-bottom: 10px;
    h2{
      font-size: 1.2rem;
      font-weight: bold;
      span{
        vertical-align: text-bottom;
      }
    }

  }
}