.common-container {
  padding: 30px;

  .menu-title {
    margin-bottom: 10px;

    h2 {
      font-size: 1.2rem;
      font-weight: bold;

      span {
        vertical-align: text-bottom;
      }
    }

  }
}

.swal2-popup {
  font-size: 0.9rem !important;
}
.swal2-title {
  font-size: 1.1rem !important;
  //font-weight: normal;
}
.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 12000;
}