

.wrapp {
    width: 100%;
    height: 100%;
    
   
    background-color: #F3F3F3;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.left-wrap {
    width: 49%;
    /* height: 100%; */
    /* border:1px solid #000; */
    height: 100%;
}  
.left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 98%;
    height: 100%;
    margin-left: 0;
}
.emp-infoo
.leave-adj,
.odd-adj {
    width: 100%;
    height: 33%;
    overflow: auto;
    margin: 3px;
    
    
    
}

.titledivider{
    margin-left: 710px;
}   
.mini {
    display: flex;
    width: 100%;
    height: 70%;
 

}
.image {
    height: 200px;
    width: 25%;
    border: 1px solid #000;
}
.emptable {
    height: 100%;
    width: 77%;
    text-align: center;
    background-color: white;
    
    
}

.emptable th, .emptable td{
    height: 0;
    vertical-align: center!important;
}
.title {
    margin-bottom: 10px;
    font-weight: 600;
}
.table {
    width: 100%;
}


.right_wrap {
    
    width: 49%;
    height: 90%;
}
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.boxx {
    width: 100%;
    
    display: flex;
    border-radius: 10px;
    /* padding: 10px; */
    box-sizing: border-box;
    
}
.boxx > div {
    width: 49%;
    
    
    padding: 10px;
    box-sizing: border-box;
   background-color: white;
   box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
}

.boxx > div:first-child {
    margin-right: 2%;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
}

.boxx,
.topp {
   
    
    /* padding: 10px; */
    /* box-sizing: border-box; */
  
    border: 1px lightgray solid;
      border-radius: 5px;
      box-shadow: 0 5px 5px -5px #000000;
      color: black;
    
    
}

.topp {
    width: 100%;
    height: 22%;
    /* box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
    margin: 2px; */
    border: 1px lightgray solid;
      border-radius: 5px;
      box-shadow: 0 5px 5px -5px #000000;
      color: black;
}

.table {
    width: 100%;
    height: 100%;
    border: 0.01px solid #000;
    
}
.background {
    background-color: #C6C4CE;
    
}

.tablerow {
    padding: auto;
}

.center {
    text-align: center;
}

thead {
    height: 30;
}

.tablerow {
    height: 30px;
}

.butt {
    width: 80px;
    height: 30px;
    border:1px solid black; 
    align-content: center;
      border-radius: 5px; 
    background: white;
    margin-top: 10px; 
    text-align: center;
     margin-right: 100px;
 
}

   

.right top{
   
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
    margin-right: 100px;
}



.end {
    margin-left: 250px;
}
.td {
    font-size: 10px;
}