.wrap {
    width: 95%;
    height: 90%;
    overflow: auto;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.left-wrap {
    width: 49%;
    /* height: 100%; */
    border:1px solid #000;
    border-radius: 10px;
}  
.left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
    margin: 30px;
}
.emp-info,
.leave-adj,
.odd-adj {
    width: 100%;
    height: 30%;
    overflow: auto;
}


.mini {
    display: flex;
    width: 90%;
    height: 80%;
    border: 1px solid #000;

}
.image {
    height: 100%;
    width: 25%;
    border: 1px solid #000;
}
.emptable {
    height: 100%;
    width: 75%;
    text-align: center;
    
}

.emptable th, .emptable td{
    height: 0;
    vertical-align: center!important;
}
.title {
    margin-bottom: 10px;
    font-weight: 600;
}
.table {
    width: 100%;
}


.right_wrap {
    width: 49%;
    height: 90%;
}
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.box {
    width: 100%;
    
    display: flex;
    border-radius: 20px;
    /* padding: 10px; */
    box-sizing: border-box;
}
.box > div {
    width: 49%;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
   
}

.box > div:first-child {
    margin-right: 2%;
}
.box,
.topp {
    height: 30%;
    border-radius: 20px;
    /* padding: 10px; */
    box-sizing: border-box;
    margin: 10px;
}

.topp {
    width: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.table {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    
}
.background {
    background-color: #E0E0E0;
    
}

.tablerow {
    padding: auto;
}

.center {
    text-align: center;
}

thead {
    height: 30;
}

.tablerow {
    height: 30px;
}

.butt {
    width: 80px;
    height: 30px;
    border:1px solid black;
    align-content: center;
    border-radius: 5px;
    
}
